*{
	text-decoration: none;
	list-style: none;
	margin:0px auto;
	padding: 0px;
  	box-sizing: border-box;
}
.hr_1{
	width: 586px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
.hr_2{
	width: 200px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 20px;
}
#wrapper{
	width: 1280px;
}
#header{
	float: left;
	width: 1280px;
	height: 90px;
	background-color: #fff;
	border-bottom: solid 2px #ccc;
}
#header h1{
	float: left;
	width: 300px;
	height: 90px;
	margin-left: 100px;
	text-align: center;
	line-height: 2.8;
	font-size: 28px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa4;
	color: #fff;
}
.main_menu{
	text-align: right;
}
.main_menu, ul{
	margin: 35px 270px 0px 0px;
	font-size: 18px;;
}
.main_menu li{
	float: right;
	display: inline;
	padding: 0px 10px 0px 10px;
}
.main_menu a{
	color: #777;
}
.main_menu a:hover{
	color: rgba(75, 170, 164, 0.55);
}
#article{
	float: left;
	width: 650px;
	margin-top: 20px;
	margin-bottom: 32px;
	margin-left: 100px;
	line-height: 2em;
	background-color: #fff;
	border:solid 1px #ddd;
}
#article h1{
	height: 80px;
	margin: 30px 0px 0px 30px;
	font-size: 35px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}
#article section img {
	float: left;
	padding: 30px 26px 26px 20px;
}
#article section p{
	text-align: left;
	padding: 20px 20px;
	color:#777;
}
#aside{
	float: left;
	width: 270px;
	height: 230px;
	margin:20px 0px 0px 20px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
}
#aside h3{
	margin-top: 30px;
	font-size: 24px;
	color: #4aaaa5;
	text-align: center;
}
#aside img{
	margin-top: 30px;
	padding: 5px;
	width: 70px;
	height: 70px;
}
#aside img:hover{
	background-color: rgba(75, 170, 164, 0.55);
}

#footer{
	clear:both;
	width: 1280px;
	height: 100px;
	border-top: solid 10px #4aaaa4;
	background-color: #666666;
	text-align: center;
}
#footer p{
	position: relative;
	padding-top: 40px;
	font-size: 1.0em;
	color: #fff;
}	
/*css for contact page starts here*/
form{
	position: relative;
	width: auto;
	margin: 20px auto;
}
label{
	display: block;
	margin: 5px 0px 5px 35px;
}
input{
	width: 590px;
	height: 30px;
	margin: 0px 0px 0px 20px;
	color: #666;
	font-size: 18px;
}
textarea{
	width: 590px;
	height: 250px;
	margin: 0px 0px 0px 20px;
	color: #666;
	font-size: 18px;
}
fieldset{
	border: none;
	background-color: #fff;
	color: #666;
	font-size: 21px;
}
.btn{
	width: 125px;
	height: 45px;
	border: none;
	background-color: #4aaaa4;
	color: #fff;
	font-size: 21px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.btn:hover{
	background-color: rgba(75, 170, 164, 0.55);
}
/*css for portfolio page starts here*/
#article_portfolio{
	float: left;
	width: 650px;
	margin-top: 20px;
	margin-bottom: 32px;
	margin-left: 100px;
	line-height: 2em;
	background-color: #fff;
	border:solid 1px #ddd;
}
#article_portfolio h1{
	height: 80px;
	margin: 30px 0px 0px 30px;
	font-size: 35px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}
#article_portfolio img{
	position: relative;
	display: inline-block;
	width: 450px;
	height: 280px;
	padding: 26px 26px 0px 20px;
	z-index: 1;
}
#article_portfolio img:hover{
	background-color: rgba(75, 170, 164, 0.55);
}
#hangman h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 405px;
	height: 50px;
	top: 430px;
	z-index: 2;
	margin-left: 20px;
	
}
#rpggame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 405px;
	height: 50px;
	top: 720px;
	z-index: 2;
	margin-left: 20px;
}
#triviagame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 405px;
	height: 50px;
	top: 1010px;
	z-index: 2;
	margin-left: 20px;
}
#rutgers_info_widget h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 405px;
	height: 50px;
	top: 1300px;
	z-index: 2;
	margin-left: 20px;
}
#rock_paper_scissors h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 405px;
	height: 50px;
	top: 1590px;
	z-index: 2;
	margin-left: 20px;
}
/*responsive website code starts here*/

@media screen and (max-width: 980px) {

.hr_1{
	width: 90%;
}
#wrapper{
	width: 100%;
}
#header{
	width: 100%;
}
.main_menu{
	width: 100%;
	margin-right: 100px;
}
.main_menu li{
	margin-right: 45px;
}
#article{
	width: 50%;
	margin: 20px 0px 20px 100px;
}
#article form, fieldset, label, input, textarea{
	width:  90%;
}
#article img{
	width: 100%;
}
#article_portfolio{
	width: 50%;
}
#article_portfolio img{
	width: 100%;
}
#hangman h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 422px;
	height: 50px;
	top: 420px;
	z-index: 2;
	margin-left: 20px;
	padding-top: 10px;
	
}
#rpggame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 422px;
	height: 50px;
	top: 690px;
	z-index: 2;
	margin-left: 20px;
	padding-top: 10px;
}
#triviagame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 422px;
	height: 50px;
	top: 960px;
	z-index: 2;
	margin-left: 20px;
	padding-top: 10px;
}
#rutgers_info_widget h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 422px;
	height: 50px;
	top: 1230px;
	z-index: 2;
	margin-left: 20px;
	padding-top: 10px;
}
#rock_paper_scissors h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 422px;
	height: 50px;
	top: 1500px;
	z-index: 2;
	margin-left: 20px;
	padding-top: 10px;
}
#aside{
	width: 30%;
}
#footer{
	width: 100%;
}
}
/*MEDIA SCREEN 768px*/
@media screen and (max-width: 768px) {

.hr_1{
	width: 90%;
}
#wrapper{
	width: 100%;
}
#header{
	width: 89%;
	margin: 20px 5px 20px 60px;
}
#header h1{
	margin: 0px 0px 0px 20px;
}
.main_menu{
	width: 100%;
	margin-right: 100px;
}
.main_menu li{
	margin-right: 30px;
}
#article{
	width: 90%;
	margin: 20px 5px 20px 60px;
}
#article form, fieldset, label, input, textarea{
	width:  90%;
}
#article img{
	width: 100%;
}
#article_portfolio{
	width: 89%;
	margin: 20px 5px 20px 60px;
}
#article_portfolio img{
	width: 50%;
	float: left;
}
#hangman h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 276px;
	height: 50px;
	top: 450px;
	z-index: 2;
	margin-left: 20px;
	
}
#rpggame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 276px;
	height: 50px;
	top: 710px;
	z-index: 2;
	margin-left: 20px;
}
#triviagame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 276px;
	height: 50px;
	top: 980px;
	z-index: 2;
	margin-left: 20px;
}
#rutgers_info_widget h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 276px;
	height: 50px;
	top: 450px;
	left: 384px;
	z-index: 2;
	margin-left: 20px;
}
#rock_paper_scissors h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 276px;
	height: 50px;
	top: 710px;
	left: 384px;
	z-index: 2;
	margin-left: 20px;
}
#aside{
	width: 89%;
	margin: 20px 5px 20px 60px;
}
#footer{
	width: 89%;
	margin: 20px 5px 0px 60px;
}
}
/*MEDIA SCREEN 480px*/
@media screen and (max-width: 480px) {

.hr_1{
	width: 80%;
}
#wrapper{
	width:100%;
}
#header{
	width: 100%;
	margin: 20px 10px 0px 10px;
}
#header h1{
	width: 100%;
	margin: 0px;
}
.main_menu{
	width: 100%;
	clear: both;
	padding-right: 30px;
	padding-top: 40px;
	background-color: #fff;
	height: 100px;
}
#article{
	width: 100%;
	margin: 120px 10px 0px 10px;
}
#article img{
	width: 100%;
}
#article_portfolio{
	width: 100%;
	height: 100%;
	margin: 130px 10px 0px 10px;
}
#article_portfolio img{
	width: 100%;
	float: left;
}
#hangman h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 390px;
	height: 50px;
	top: 550px;
	z-index: 2;
	margin-left: 20px;
}
#rpggame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 390px;
	height: 50px;
	top: 830px;
	z-index: 2;
	margin-left: 20px;
}
#triviagame h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 390px;
	height: 50px;
	top: 1110px;
	z-index: 2;
	margin-left: 20px;
}
#rutgers_info_widget h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 390px;
	height: 50px;
	top: 1400px;
	left: 10px;
	z-index: 2;
	margin-left: 20px;
}
#rock_paper_scissors h3{
	position: absolute;
	text-align: center;
	background-color: #4aaaa4;
	color: #fff;
	width: 390px;
	height: 50px;
	top: 1680px;
	left: 10px;
	z-index: 2;
	margin-left: 20px;
}
#article form, fieldset, label, input, textarea{
	width:  90%;
}
#aside{
	width: 100%;
	margin: 20px 10px 20px 10px;
}
#footer{
	width: 100%;
		margin: 20px 10px 0px 10px;
}
}
