* {
  box-sizing: border-box;
}
body{
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #f1f1f1;

}
#main-header{
	background-color: #ddd;
	margin-bottom: 30px;
	min-height: 100px;
}
#main-header h1{
	padding: 20px;
	margin-left: 90px;
	font-size: 30px;
	line-height: 45px;
	font-family: 'PT Sans', sans-serif;
}
.wrapper{
	width: 1024px;
	margin: 0px auto;
}
#main-section{
	background-color: #ddd;
	float: left;
	width: 60%;
	padding: 20px;
	line-height: 1.5;
}
#sidebar{
	background-color: #ddd;
	float: right;
	width: 35%;
	padding: 30px;
}